<a href="https://colab.research.google.com/github/nicogonzalezb/Portfolio/blob/main/prueba_pricesmart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
%cd '/content/drive/MyDrive/pricesmart'
!ls

/content/drive/MyDrive/pricesmart
mtcars.csv  Untitled0.ipynb  Untitled.ipynb

In [7]:
dir_pandas = '/content/drive/MyDrive/pricesmart/{}'.format('mtcars.csv')
dir_pandas

'/content/drive/MyDrive/pricesmart/mtcars.csv'

In [23]:
df = pd.read_csv(dir_pandas)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [60]:
minimo = df["mpg"].min()

minimo

10.4

Â¿Cual es el carro de menor consumo?: Cadillac Fleetwood and Lincoln Continental

In [61]:
df[df["mpg"]==minimo]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4

Cinco carros mayor consumo

In [68]:
df.sort_values('mpg',ascending= False).head(5)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1

#Promedio De consumo por tipo de transmisiÃ³n

##Manual

In [75]:
manual = df[df['am']==1]
manual['mpg'].mean()

24.39230769230769

##Automatico

In [85]:
autom = df[df['am']==0]
promedio_automatico = autom['mpg'].mean()
promedio_automatico

17.147368421052633